/target/site/dependencies.html
/target/site/dependency-info.html
/target/site/index.html
/target/site/plugin-management.html
/target/site/plugins.html
/target/site/project-info.html
/target/site/project-reports.html
/target/site/summary.html
/target/classes/
/target/generated-sources/
/target/generated-test-sources/
/target/maven-status/
/target/test-classes/
/src/main/
/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/workspace.xml
